@import "bootstrap";

body {
    background-color: #f5f5dc;
}


.navbar {
  display: none;
}

.green-underline {
  text-decoration: underline green;
}
.red-underline {
  text-decoration: underline red;
}


.pacifico {
  position: relative;
  top: 50px;
  font-family: 'Lobster', cursive;
  margin-bottom: 8vw;
  font-size: 5vw;
}

.lobster {
  font-family: 'Lobster';
}


.tab:not(:first-child) {
  display: none;
}


.hero-img {
  background: url(background-original.jpg);
  height: 77vw;
  background-position: -148px -17vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: .9;
  text-align: center;
  color: white;
}

.motto {
  color: white;
  padding: 28%;
  padding-top: 24%;
  padding-bottom: 0;
  position: relative;
  left: 15vw;
  bottom: 3vw;
}

#scroll_btn {
  background-color: transparent;
  height: 39px;
  margin: 0 15vw;
  border-radius: 21px;
  padding-top:3px;
  color: white;
  border-color: transparent;
  width: 18vw;
  font-size: 2vw;
  font-weight:600;
}

.radio-group.invalid {
  background-color: pink;
}

.invalid {
  background-color: #ffdddd;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 35px;
    width:75%;    //Specify your width here
}

.btn-group {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
}

.bg {
    background: url(background-original.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
     background-size: 100% auto;
}
